@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.backgroundColor {
    background: linear-gradient(150deg, #6ccdb0 0%, #1e3a8a 100%);
}
